
<h1> Lists </h1>
<%= form_tag festivelnet_options_path, :class=>"container" do%>
        EVENT NAME <%= text_field_tag :search, params[:search], :id => 'search_name',:class=>"input_field" %>
        <%= select_tag :select1, options_for_select([['OR', 'OR'], ['AND', 'AND']]),:class=>"input_field" %> 
        ATTENDEES <%= text_field_tag :attendee, params[:attendee], :id => 'search_attend',:class=>"input_field" %>
        <%= select_tag :select2, options_for_select([['OR', 'OR'], ['AND', 'AND']]),:class=>"input_field" %> 
        START DATE   <%= date_field :from_date, params[:from_date], :id => 'search_date',:class=>"input_field" %>
        END DATE <%= date_field :to_date, params[:to_date], :id => 'search_field1',:class=>"input_field" %><br><br>
         <%= submit_tag "FILTER", method: "post" ,:class=>"button"%> 
 <% end %><br>

 <table border = 1 id="table">
  <tr>
    <th>EventName</th>
    <th>Attendees</th>
    <th>Start Date</th>
    <th>Show Director</th>
    <th>Contact Email</th>
  </tr>
  <% @data1.each do |x| %>
        <tr>
                <td> <%= x[:name] %> </td>
                <td> <%= x[:attendance] %> </td>
                <td> <%= x[:start_date] %> </td>
                <td> <%= x[:show_director] %> </td>
                <td> <%= x[:show_director_email_id] %> </td>
         </tr>
       <% end %>

</table>

<style type="text/css">  
#table{
border-collapse: collapse;
width: 100%;
font-family: Helvetica Neue;
}
th,td{
        border: 1px solid #ddd;
        padding: 7px;
        font-size: 14px;
}
#table tr:nth-child(even){
        background-color: #f2f2f2;
}

#table tr:hover {
        background-color: #ddd;
}

.input_field{
        font-family: Helvetica Neue;
        border-radius: 4px;
}

h1{
        text-align: center;
        font-family: Optima;
}

.container{
        display: flex;
        justify-content: space-around;
        font-family: Optima;
        padding: 30px;
        align-content: center;
}

.button{
        padding: 5px 10px 5px 10px;
        border-radius: 5px;
        font-size: 10px;
        font-family: Helvetica Neue;
        background-color: #ddd;
        color: #000;
        border: none;
}
</style> 