<h1><%= @title %></h1>
<table border = 1 id="table">
<tr>
      <th>EventName</th>
  <th>Attendees</th>
  <th>Start Date</th>
  <th>Show Director</th>
  <th>Contact Email</th>
</tr>
  <% @data.each do |x| %>
  <tr>
      <td> <%= x[:name] %> </td>
      <td> <%= x[:attendance] %> </td>
      <td> <%= x[:start_date] %> </td>
      <td> <%= x[:show_director] %> </td>
      <td> <%= x[:show_director_email_id] %> </td>
  </tr>
  <% end %>
</table>
     <style type="text/css">  
     #table{
     border-collapse: collapse;
     width: 100%;
     font-family: Helvetica Neue;
     }
     th,td{
             border: 1px solid #ddd;
             padding: 8px;
     }
     #table tr:nth-child(even){
             background-color: #f2f2f2;
     }
     
     #table tr:hover {
             background-color: #ddd;
     }
     </style> 
    